<div class="fluid bg-secondary" style="height: 100vh;">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a>
  </nav>
  <div class="row h-100">
    <div class="col-sm-3 bg-dark text-center">
      <button class="btn btn-secondary w-75 m-2">Overviews</button>
      <button class="btn btn-secondary w-75 m-2">Orders</button>
      <button class="btn btn-secondary w-75 m-2">Products</button>
      <button class="btn btn-secondary w-75 m-2">Categories</button>
      <button class="btn btn-secondary w-75 m-2">Users</button>
      <button class="btn btn-secondary w-75 m-2">Coupons</button>
    </div>
    <div class="col-sm-9">
      content
    </div>
  </div>

</div>
